@page
@model csdc25Proj.Pages.Attendances.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Attendance</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Attendance.id" />
            <div class="form-group">
                <label asp-for="Attendance.StudentName" class="control-label"></label>
                <input asp-for="Attendance.StudentName" class="form-control" />
                <span asp-validation-for="Attendance.StudentName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Attendance.isPresent" class="control-label"></label>
                <input asp-for="Attendance.isPresent" class="form-control" />
                <span asp-validation-for="Attendance.isPresent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Attendance.currDate" class="control-label"></label>
                <input asp-for="Attendance.currDate" class="form-control" />
                <span asp-validation-for="Attendance.currDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
